body {
  width 85%;
  max-width: 960px;
  justify-content: center;
  background-image: url("../images/P_20160209_164239.jpg");
  background-size:cover;
}

body::after {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: black;
}
