body {
  margin-top: 7.5%;
  justify-content: center;
  background-image: url("../images/P_20160209_164239.jpg");
  background-size:cover;
  text-align: center;
}

main {
  max-width: 960px;
  align-self: center;
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

section {
  text-align: left;
}

p {
  line-height: 24px;
}

* {
  color: white;
}
