.about_me {
  display: flex;
  align-items: flex-end;
}

nav {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.headShot {
  width: 80%;
  height: 80%;
  max-width: 550px;
  padding-right: 1%;
}

.day-tag {
  text-align: right;
}

section > article:first-child {
  display: none;
}

section img {
  padding: 1%;
  width: 10%;
  max-width: 30px;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  font-size: 3em;
}

h2  {
  padding-top: 2%;
}

ul {
  list-style-type: none;
  font-size: 2em;
  display: none;
}
