.about_me {
  display: flex;
  align-items: flex-end;
}

.headShot {
  width: 80%;
  height: 80%;
  max-width: 300px;
  padding-right: 1%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hamburger-menu {
  margin-left: 7.5%;
}

a:hover {
  color: #0FA0CE
}

section img {
  padding: 1%;
  width: 10%;
  max-width: 30px;
}

nav a {
  font-size: 2em;
}

h2  {
  padding-top: 2%;
}

ul {
  list-style-type: none;
  font-size: 1em;
  display: none;
}

.part-content {
  width: 85%;
  justify-content: center;
  margin-left: 7.5%;
}
