.about_me {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.headShot {
  width: 80%;
  height: 80%;
  max-width: 300px;
  border-radius: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hamburger-menu {
  margin-left: 7.5%;
}

.part-content {
  width: 85%;
  justify-content: center;
  margin-left: 7.5%;
}

section img {
  padding: 1%;
  width: 10%;
  max-width: 30px;
}

nav {
  position: fixed;
  top: 125px;
  left: 7.5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

a:hover {
  color: #0FA0CE;
}

nav a {
  color: white;
  margin: 2px;
  font-size: 2em;
  display: block;
}

ul {
  list-style-type: none;
  font-size: 1em;
  display: none;
}

h2  {
  padding-top: 2%;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}

h4 ~ ul {
  margin-top: 0px;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
